@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --primary-pink: hsl(322, 100%, 66%);
  --primary-light-pink: hsl(321, 100%, 78%);
  --primary-light-red: hsl(0, 100%, 63%);
  --neutral-dark-cyan: hsl(192, 100%, 9%);
  --neutral-dark-blue: hsl(207, 100%, 98%);
}

header {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: -3em; */
  margin: 0 2em -3em;
}

main {
  /* margin: 0 2em 0; */
}

.main__logo-top {
  width: 35%;
}

.main__cta-top {
  /* Diese Style noch überarbeiten */
  background-color: #fff;
  border-color: var(--primary-light-pink);
  border-radius: 20px;
  box-shadow: none;
  color: var(--primary-light-pink);
  padding: 5px 20px;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}

h2,
p {
  text-align: center;
}

img {
  width: 100%;
}

.main__hero-headline {
  font-weight: 600;
}
.main__hero {
  text-align: center;
  margin-bottom: 6em;
  padding-left: 2em !important;
  padding-right: 2em !important;
}

.main__hero-btn {
  background-color: var(--primary-pink);
  border: none;
  border-radius: 50px;
  color: var(--neutral-dark-blue);
  margin: 2em 0 8em;
  padding: 1em 2em;
  box-shadow: 1px 5px 5px #ccc;
}

.main__hero-btn:hover {
  box-shadow: 0px 0px 0px #ccc;
}

.main__hero-figure-flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 7em;
}

.main__hero-figure__left {
  padding-bottom: 5em;
}

.main__hero-figure__img {
  width: 2em;
}

/* Abstand der Elemente checken. Warum funktioniert space-between nicht? */

.main__hero-figure__capital {
  font-size: 4.5rem;
}

.content__bgPatternTop-1 {
  background: url("./images/bg-section-top-mobile-1.svg");
  height: 112px;
  background-repeat: no-repeat;
  /* Hatte Probleme, bg richtgig zu plazieren. Das löst sie: width | heigt */
  background-size: 100% 100%;
}

.content__bgPatternBottom-1 {
  background: url("./images/bg-section-bottom-mobile-1.svg");
  background-position: center;
  height: 52px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.main__grow-flex {
  display: flex;
  flex-direction: column;
  background-color: var(--neutral-dark-blue);
}

.main__grow-text {
  order: 2;
}

.main__conversation-flex {
  display: flex;
  flex-direction: column;
  margin: 25vh 0;
}

.main__conversation-text {
  order: 2;
}

.bg__users-mobile__top2 {
  background-image: url("./images/bg-section-top-mobile-2.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 112px;
  background-size: 100% 100%;
}

.main__users-flex {
  background-color: var(--neutral-dark-blue);
  display: flex;
  flex-direction: column;
  /* Ich brauche den Margin, damit es beim Hintergrund richtig anschließt. Geht das auch ohne? */
  margin-top: -2em;
}
.main__users-img {
  display: block;
  order: 1;
}
.main__users-text {
  display: block;
  order: 2;
}

.main__end {
  margin-top: 9rem;
  margin-bottom: 19rem;
}
.main__end-head {
  display: block;
  line-height: 1.5;
  margin: 2em auto;
  width: 90%;
}
.bg__users-mobile__bottom2 {
  background-image: url("./images/bg-section-bottom-mobile-2.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 112px;
  background-size: 100% 100%;
}

.bg__footer__top-mobile {
  background-image: url("./images/bg-footer-top-mobile.svg");
  background-repeat: no-repeat;
  height: 60px;
  background-size: 100% 100%;
}

/* FOOTER */
footer {
  background-color: var(--neutral-dark-cyan);
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.footer__left {
  display: flex;
  order: 2;
  flex-direction: column;
}

/* Farbe des SVG Logos ändern */
.footer__logo {
  filter: invert(99%) sepia(91%) saturate(2%) hue-rotate(97deg) brightness(113%)
    contrast(100%);
  width: 70%;
}

.footer__left-legal-text {
  text-align: left;
}

/* Style Telefon und Mail */
.fas {
  display: block;
  margin-bottom: 1em;
}

/* adjacent sibling */
.fas + .fas {
  margin-bottom: 3em;
}

/* Telefon und eMail eher grau. Mit after: ?*/

.footer__right-head {
  text-align: left;
}

.footer__left__some-icons {
  display: flex;
  justify-content: flex-start;
}

.footer__right-input-flex {
  margin-bottom: 15vh;
  display: flex;
  flex-wrap: wrap;
}

.footer__right-copy {
  text-align: left;
}

.footer__input {
  display: block;
  width: 100%;
  padding: 1em;
  border-radius: 10px;
}

/* Button rechts außen positionieren!!!! */
.footer__button {
  background-color: var(--primary-pink);
  border-radius: 5px;
  color: #fff;
  display: block;
  justify-content: flex-end;
  margin-top: 1em;
  margin-left: auto;
  padding: 0.75em 1em;
}

/* Größe der some Icons ändern */
.fab {
  width: 2em;
  cursor: pointer;
}

/* HELPERS */

.middle {
  display: block;
  margin: 0 auto;
}

.lh {
  line-height: 1.5;
}

.fw {
  width: 100%;
}

.grey-accent {
  color: darkgrey;
}

.footer-gap {
  margin-left: 2ch;
  font-family: "Poppins", sans-serif;
}

.paddingContent {
  padding: 4em 4em 4em;
}

.paddingContent:first-of-type {
  padding: 6em 0 6em;
}

@media (min-width: 1440px) {
  .main__hero-figure-flex {
    /* Hier alles an paddings etc. von oben rausnehmen */
    flex-direction: row;
    justify-content: space-around;
  }
  .main__grow-flex {
    flex-direction: row;
  }
  .main__grow-text {
    order: 0;
    /* Clamp etc | max-width checken */
    max-width: 600px;
    align-self: center;
  }

  .main__hero-headline {
    font-weight: 700;
    width: 90%;
    margin: 0 auto;
    font-size: 3rem;
    letter-spacing: 4px;
    padding-bottom: 0.5em;
  }
  .main__hero-copy {
    width: 30%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }

  .main__logo-top {
    width: 20%;
    max-width: 350px;
  }

  .main__hero-img {
    width: 100%;
    max-width: 1200px;
    display: block;
    margin: 0 auto;
  }

  .main__cta-top {
    background-color: #fff;
    border-color: var(--primary-light-pink);
    border-radius: 40px;
    box-shadow: none;
    color: var(--primary-light-pink);
    padding: 5px 50px;
  }

  p,
  h2 {
    text-align: left;
  }

  /* DRY!!!!!!!! */
  .main__conversation-flex {
    flex-direction: row;
  }
  .main__conversation-text {
    padding-left: 4em;
    max-width: 600px;
    align-self: center;
  }
  .main__users-flex {
    flex-direction: row;
  }
  .main__users-text {
    order: 1;
    /* Clamp etc | max-width checken */
    max-width: 600px;
    align-self: center;
  }
  .main__hero-figure__left {
    padding-bottom: 0;
  }
  .main__end h2 {
    text-align: center;
  }

  footer {
    flex-direction: row;
  }

  .footer__left {
    order: 0;
  }

  .bg__footer__top-mobile {
    /* background-size: 100%; */
    height: 220px;
  }

  .footer__left-legal-text {
    max-width: 500px;
    padding-right: 2em;
  }

  .footer__right-input-flex {
    flex-direction: row;
  }

  .footer__input {
    width: 70%;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
